name: Flutter Deployment

on:
  push:
    tags:
      - 'v*'

jobs:
  deploy:
    name: Deploy Flutter App
   runs-on: ubuntu-latest

    steps:
      name: build
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v3
        - uses: subosito/flutter-action@v2
          with:
            flutter-version: '3.24.5'
        - run: flutter pub get
        - run: flutter --version
        - run: flutter build apk --release
        - name: Deploy to Google Play
            uses: r0adkll/upload-google-play@v1
            with:
              serviceAccountJsonPlainText: ${{ secrets.GOOGLE_DEV_FLUTTER }}
              packageName: ${{ secrets.PACKAGE_NAME }}
              releaseFiles: build/app/outputs/flutter-apk/app-release.apk
              track: internal # Gửi ứng dụng lên track "internal" (có thể thay đổi thành "production" nếu cần)
              inAppUpdatePriority: 3 
#idon't this success, i wil comback in the future